<br>
<br>
<p>Schedule</p>
<select id="schedule" name="prio">
    <option value="1">Priority Job</option>
    <option value="2" selected="selected">When ready</option>
    <option value="3">Schedule</option>
</select>
<input type="date" id="date" name="date" style="display: none;">
<br>
<br>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script>
$( "select" ).change(function() {

    var str = "";
    str = $("#schedule").val();

    if (str == "3") {
        $("#date").show()
        document.getElementById("date").required = true;
    } else {
        $("#date").hide()
        document.getElementById("date").removeAttribute("required");
    }
});
</script>