{% extends "template.html" %}
{% block content %}

<form method="POST" enctype="multipart/form-data" action="/create_user">
    <div class="form-group">
        <p>Create user</p>
        <input type="text" class="form-control" placeholder="username" name="username" required>
        <input type="text" class="form-control" placeholder="password" name="password" required>
        <input type="checkbox" id="user" name="user">
        <label for="user">User</label>
        <input type="checkbox" id="observer" name="observer">
        <label for="observer">Observer</label>
        <input type="checkbox" id="admin" name="admin">
        <label for="admin">Admin</label>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Groups</th>
    </tr>
    </thead>
    <tbody>
    {% for u in users %}
    <tr>
        <td>{{u.name}}</td>
        <td>{{u.groups}}</td>
        <td><a href="/delete_user?username={{u.name}}"><img
                src="{{ url_for('static', filename='icons/delete.png') }}"
                height="20" width="20"></a></td>
    </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}



