{% extends "template.html" %}
{% block content %}


<table class="table">
    <thead>
    <tr>
        <th scope="col">Time</th>
        <th scope="col">Level</th>
        <th scope="col">Job ID</th>
        <th scope="col">message</th>
    </tr>
    </thead>
    <tbody>
    {% for j in logs %}
        <tr>
            <div>
                <td>{{j.timestamp}}</td>
                <td>{{j.level}}</td>
                <td><a class=text-dark" href="/job_info?job_id={{j.job_id}}">{{j.job_id}}</a></td>
                <td><a class=text-dark" href="/log_info?log_id={{j.id}}">{{j.msg}}</a></td>
            </div>
        </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}



