{% extends "template.html" %}
{% block content %}
<h3>Group: {{ group.group_name }}</h3>
<p>mode: {{group.mode}}</p>


<br>
<br>
<b>Members:</b>
{% for u in users %}
<p> - {{u}}</p>
{% endfor %}
{% if group.mode == 1 and user.name not in users %}
<br>
<form method="POST" enctype="multipart/form-data" action="/group_info?group_name={{group.group_name}}">
    <button type="submit" class="btn btn-primary">Join</button>
</form>
<br>
{% endif %}
{% if group.mode != 1 and user.name in users %}
<br>
<form method="POST" enctype="multipart/form-data" action="/group_info?group_name={{group.group_name}}">
    <div class="form-group">
        <label for="output">Username</label>
        <input type="text" class="form-control" name="username" id="output">
    </div>
    <button type="submit" class="btn btn-primary">Add Member</button>
</form>
<br>
{% endif %}



{% endblock %}

