{% extends "template.html" %}
{% block content %}

<h3>Create Group</h3>
<form method="POST" enctype="multipart/form-data" action="/groups">
    <select class="form-select mr-5 mt-1" aria-label="" name="group_mode">
        <option value="1" selected="selected">Public</option>
        <option value="2">Private</option>
        <option value="3">Hidden</option>
    </select>
    <br>
    <div class="form-group">
        <label for="output">Group name</label>
        <input type="text" class="form-control" name="group_name" id="output">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Your Groups</th>
    </tr>
    </thead>
    <tbody>
    {% for g in your_groups %}
    <tr>
        <div>
            <td><a class=text-dark" href="/group_info?group_name={{g}}">{{g}}</a></td>
        </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Public Groups</th>
    </tr>
    </thead>
    <tbody>
    {% for g in public %}
    <tr>
        <div>
            <td><a class=text-dark" href="/group_info?group_name={{g.group_name}}">{{g.group_name}}</a></td>
        </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Private Groups</th>
    </tr>
    </thead>
    <tbody>
    {% for g in private %}
    <tr>
        <div>
            <td><a class=text-dark" href="/group_info?group_name={{g.group_name}}">{{g.group_name}}</a></td>
        </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}



