{% extends "template.html" %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="row">Owner</th>
        <th scope="row">Type</th>
        <th scope="row">create_data</th>
        <th scope="row">Status</th>
        <th scope="row">Data</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{job.owner}}</td>
        <td>{{job.type}}</td>
        <td>{{job.create_date}}</td>
        <td>{{job.status}}</td>
        <td>
            {% for d in job.data %}
            {{d}}: {{job.data[d]}} <br>
            {%endfor%}
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<h1>Logs</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Level</th>
        <th scope="col">Log Time</th>
        <th scope="col">Message</th>
    </tr>
    </thead>
    <tbody>
    {% for u in logs %}
    {% if u.level != "debug" or "admin" in user.groups %}
    <tr>
        <td>{{u.level}}</td>
        <td>{{u.timestamp}}</td>
        <td>{{u.msg}}</td>
    </tr>
    {% endif %}
    {%endfor%}
    </tbody>
</table>


{% endblock %}

