{% extends "template.html" %}
{% block content %}


<table class="table">
    <thead>
    <tr>
        <th scope="col">Time</th>
        <th scope="col">Group</th>
        <th scope="col">Module</th>
        <th scope="col">Target</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for j in jobs %}
    <tr>
        <div>
            <td><a class=text-dark" href="/job_info?job_id={{j.id}}">{{j.timestamp}}</a></td>
            <td><a class=text-dark" href="/job_info?job_id={{j.id}}">{{j.group}}</a></td>
            <td><a class=text-dark" href="/job_info?job_id={{j.id}}">{{j.module}}</a></td>
            <td><a class=text-dark" href="/job_info?job_id={{j.id}}">{{j.target}}</a></td>
            <td><a class=text-dark" href="/job_info?job_id={{j.id}}">{{j.status}}</a></td>
            <td>
                {% if j.result %}
                <a href="/download_job?id={{j.id}}"><img
                        src="{{ url_for('static', filename='icons/down-button.png') }}"
                        height="20" width="20"></a>
                {% endif %}
            </td>
        </div>
    </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}



