{% extends "template.html" %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Schedule</th>
        <th scope="col">recurrent</th>
        <th scope="col">prio</th>
        <th scope="col">data</th>
    </tr>
    </thead>
    <tbody>
    {% for j in queue %}
    <tr>
        <div>
            <td>{{j.schedule}}</td>
            <td>{{j.recurrent}}</td>
            <td>{{j.prio}}</td>
            <td>{{j.data}}</td>
        </div>
    </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}



