{% extends "template.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data" action="/settings">
    <br>
    <div class="form-group">
        <label for="output">new password</label>
        <input type="text" class="form-control" name="password" id="output">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}



