{% extends "template.html" %}
{% block content %}


<table class="table">
    <thead>
    <tr>
        <th scope="col">Time</th>
        <th scope="col">User</th>
        <th scope="col">message</th>
    </tr>
    </thead>
    <tbody>
    {% for l in logs %}
    <tr>
        <div>
            <td>{{l.timestamp}}</td>
            <td>{{l.user_id}}</td>
            <td>{{l.msg}}</td>
        </div>
    </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}



