{% extends "template.html" %}
{% block content %}
    <div class="row">
        {% for m in modules %}
            <div class="col-4">
                <div class="card mb-4">
                    <a class="card-body text-center" href="/scraper?module={{ m.module_name }}">
                        <h5 class="card-title">{{ m.module_name }}</h5>
                        {% if m.config.get('icon') %}
                            <img src="{{ url_for('static', filename='icons/' + m.config.get('icon')) }}" height="45"
                                 width="45">
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}