{% extends "template.html" %}
{% block content %}
{% if data.get('icon') %}
<img src="{{ url_for('static', filename='icons/' + data.get('icon')) }}" height="45" width="45"
     style="margin:0px 0px 10px 0px">
{% endif %}
{% if data.get('text') %}
<div><p>{{ data.get('text') }}</p></div>
{% endif %}
<form method="POST" enctype="multipart/form-data" action="/scraper?module={{ data.get('module') }}">
    <br>
    <br>
    <div class="form-group">
        {% for input in data.get("requirements") %}
        <div>
            {% if input.get('text') %}
            <label for={{ input.get('name') }}>{{ input.get('text') }}: </label>
            {% endif %}
            <{% if input.get('input') == "textarea" %}Textarea{% else %}input type={{ input.get('input') }}{% endif %}
            {% if input.get('rows') %}
            rows="{{ input.get('rows') }}"
            {% endif %}
            {% if "text" in input.get('input') %}
            class="form-control"
            {% endif %}
            {% if input.get('placeholder') %}
            placeholder={{ input.get('placeholder') }}
            {% endif %}
            id={{ input.get('name') }} name={{ input.get('name') }}
            {% if not input.get('optional') %}
            required
            {% endif %}>{% if input.get('input') == "textarea" %}</Textarea>{% endif %}
        </div>
        <br>

        {% endfor %}
    </div>

    <p>Select group</p>
    <select name="group">
        {% for g in user.groups %}
        {% if g != "user" %}
        <option value="{{g}}" {% if g== user.name %} selected="selected" {% endif %}>{{g}}</option>
        {% endif %}
        {% endfor %}
    </select>
    {% include 'includes/_prio.html' %}
    <button type="submit" class="btn btn-primary">Start Job</button>
</form>
{% endblock %}