<!doctype html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}"/>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.draw.css') }}"/>
    <script src="{{ url_for('static', filename='js/leaflet.draw.js') }}"></script>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/firefly5.png')}}"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_template.css')}}">


    <!--    <title>{% include 'includes/_title.html' %} {% if user.agent %} - {{user.agent}} {% endif %}</title>-->

</head>
<body>
<header class="site-header">
    <!--    <nav class="navbar navbar-expand-md fixed-top pt-0 pb-0 pl-5">-->
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top pt-0 pb-0 pl-5">
        <div class="container">
            <a class="navbar-brand mr-2" href="/"><img src="{{ url_for('static', filename='icons/firefly6.png') }}"
                                                       height="40" width="40"></a>
            <a class="navbar-brand mr-5" href="/">{% include 'includes/_title.html' %}</a>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                </div>

                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if 'admin' in user.groups %}
                    <a class="nav-item nav-link" href="/admin">Admin</a>
                    <a class="nav-item nav-link" href="/queue">queue</a>
                    {% endif %}
                    {% if 'admin' in user.groups or 'observer' in user.groups %}
                    <a class="nav-item nav-link" href="/user_log">user log</a>
                    <a class="nav-item nav-link" href="/jobs">jobs</a>
                    <a class="nav-item nav-link" href="/debug_log">debug log</a>
                    {% endif %}
                    <a class="nav-item nav-link" href="/settings">Settings</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container pt-2">
    <div class="row">


        <div class="container-md-8 mr-5">
            <div class="row-md-8">
                <div class="col-md-15">
                    <div class="profile-card">
                        <h4 class="title-name">{{user.name}}</h4>
                        {% if 'admin' in user.groups %}
                        Admin
                        <br>
                        {%endif%}
                        {% if 'user' in user.groups %}
                        Analyst
                        <br>
                        {%endif%}
                        {% if 'observer' in user.groups %}
                        Observser
                        <br>
                        {%endif%}
                    </div><!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li>
                            <div class="list-div"><a href="/job_dashboard">Job Dashboard</a></div>
                        </li>
                        <li>
                            <div class="list-div"><a href="/groups">Groups</a></div>
                        </li>
                        <!--                        <li>-->
                        <!--                            <div class="list-div"><a href="#">Disable</a></div>-->
                        <!--                        </li>-->
                        <!--                        <li>-->
                        <!--                            <div class="list-div"><a href="#">Disable</a></div>-->
                        <!--                        </li>-->
                        <!--                        <li>-->
                        <!--                            <div class="list-div"><a href="#">Disable</a></div>-->
                        <!--                        </li>-->
                        <!--                        <li>-->
                        <!--                            <div class="list-div"><a href="#">Disable</a></div>-->
                        <!--                        </li>-->
                        <!--              <li><a href="#">My Newsfeed</a></li>-->
                        <!--              <li><a href="#">People Nearby</a></div></li>-->
                        <!--              <li><a href="#">Friends</a></div></li>-->
                        <!--              <li><a href="#">Messages</a></div></li>-->
                        <!--              <li><a href="#">Images</a></div></li>-->
                        <!--              <li><a href="#">Videos</a></div></li>-->
                    </ul><!--news-feed links ends-->

                </div>
            </div>
        </div>


        <div class="col-md-8 pt-5">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
